<?php
/**
 * The base configurations of the WordPress.
 *
 * This file has the following configurations: MySQL settings, Table Prefix,
 * Secret Keys, WordPress Language, and ABSPATH. You can find more information
 * by visiting {@link http://codex.wordpress.org/Editing_wp-config.php Editing
 * wp-config.php} Codex page. You can get the MySQL settings from your web host.
 *
 * This file is used by the wp-config.php creation script during the
 * installation. You don't have to use the web site, you can just copy this file
 * to "wp-config.php" and fill in the values.
 *
 * @package WordPress
 */

// ** MySQL settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define('DB_NAME', 'moex');

/** MySQL database username */
define('DB_USER', 'root');

/** MySQL database password */
define('DB_PASSWORD', '');

/** MySQL hostname */
define('DB_HOST', 'localhost');

/** Database Charset to use in creating database tables. */
define('DB_CHARSET', 'utf8');

/** The Database Collate type. Don't change this if in doubt. */
define('DB_COLLATE', '');

/**#@+
 * Authentication Unique Keys and Salts.
 *
 * Change these to different unique phrases!
 * You can generate these using the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}
 * You can change these at any point in time to invalidate all existing cookies. This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
define('AUTH_KEY',         '9S_4l$.&.:(~) =T`P*YAN,{b+{/n?lCmF+o[Y;{B@q1Nhc}9|XM0:Ao&ur&@eiG');
define('SECURE_AUTH_KEY',  'D/,+:n*.&cqjN1w[z%_Di@u=eo@0:j3`F+4D^fgjDWUFm>oZjn`hC~:v}XfXYddY');
define('LOGGED_IN_KEY',    'DS;s#3AIw`(Bltr652Bs/6jYgEOB^?:)H&g* %HVX%C7ob2@x=gdg]}b2K_fP55P');
define('NONCE_KEY',        'I`fQU&#*fy;}@|0l/qAQCUVaE>s05`)M10Y<+f1!i#3ENW,IO|C4*TOROOf%E}-w');
define('AUTH_SALT',        'v&tfw{s#C=,b+90F>D{RLn{G,YvIAve;{ubEgNbZ%~VIIjPi% QM!&!+r||fyBBy');
define('SECURE_AUTH_SALT', '-RWCf.!~1(3M&OU<}+~lVbCb1^%y+k/CBJ$<vXjnU+P8|A41m&e#Iw<-kMeO*9C>');
define('LOGGED_IN_SALT',   'iK~a)#+ 5r4F~6PD.w8g7@?VbOdf00RTvrTRUJ7Qy<LGQ-7%KI931ZQ=oOk=>CvR');
define('NONCE_SALT',       'E3!A_N%%f(==Abd`$n,ryUY;B[&{]hyg}[*_a3n?!W|V|Sp(NzydB0(us#.26f!2');

/**#@-*/

/**
 * WordPress Database Table prefix.
 *
 * You can have multiple installations in one database if you give each a unique
 * prefix. Only numbers, letters, and underscores please!
 */
$table_prefix  = 'me_';

/**
 * WordPress Localized Language, defaults to English.
 *
 * Change this to localize WordPress. A corresponding MO file for the chosen
 * language must be installed to wp-content/languages. For example, install
 * de_DE.mo to wp-content/languages and set WPLANG to 'de_DE' to enable German
 * language support.
 */
define('WPLANG', '');

/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 */
define('WP_DEBUG', false);

/* That's all, stop editing! Happy blogging. */

/** Absolute path to the WordPress directory. */
if ( !defined('ABSPATH') )
	define('ABSPATH', dirname(__FILE__) . '/');

/** Sets up WordPress vars and included files. */
require_once(ABSPATH . 'wp-settings.php');
