/**
 * Mon Feb 13, 2012 10:43:38 added by Thanh Son 
 * Email: thanhson1085@gmail.com 
 * Color: #0066b3, #ee1c24
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
html, body{
	height: 100%;
	margin: 0;
	padding: 0;
}
h1{
	font-size: 26px;
}
ul, li {
	background: transparent;
}
img{
	outline: 0;
	padding:0;
	margin: 0;
}
input{
	padding: 0 3px;
}
:focus {
	outline: 0;
}
body {
	padding: 0;
	margin: 0;
	border: 0;
	font-family: verdana, arial;
	font-size: 0.8125em;
}
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

/* menu top */
.menu-top-container{
	height: 30px;
	width: 100%;
	background: #0066b3;
	box-shadow: 0 0 8px;
	-moz-box-shadow: 0 0 8px;
	-webkit-box-shadow: 0 0 8px;
}
.menu-top{
	margin: 0 10px;
}
.menu-top a{
	color: #EEE;
	text-decoration: none;
	padding: 7px;
	line-height: 30px;
}
.menu-top a:hover{
	background: #ee1c24;
}
.menu-top-left{
	float: left;
	height: 30px;
	width: 50%;
}
.menu-top-left ul{
	list-style: none;
}
.menu-top-left ul > li{
	float: left;
}
.menu-top-right{
	float: right;
}
.menu-top-right > ul{
	list-style: none;
}
.menu-top-right > ul > li{
	float: left;
}
.menu-top-left > ul > li > img{
	padding-right: 10px;
	height: 20px;	
	padding-top: 5px;
}
/* end menu top */

/* banner top */
.banner-container{
	height: 80px;
	width: 100%;
}
.banner{
	margin: 0 10px;
	height: 80px;
	position: relative;
}
.banner{
	border-bottom: solid 1px #CCC;
}
.sub-menu-container{
	float: left; 
	bottom: 7px;
	left: 100px;
	position: relative;
}
/* end banner top */

/* header */
.header-container{
	height: 200px;
	width: 100%;
	background: #ee1c24;
	background: url(../images/bg_banner.jpg);
	box-shadow: 0 0 8px;
	-moz-box-shadow: 0 0 8px;
	-webkit-box-shadow: 0 0 8px;
}
.page-title{
	margin-bottom: 10px;
	color: #CCC;
	border-bottom: solid #CCC 1px;
}
h2.page-title{
	margin: 10px 0;
	color: #CCC;
	border-bottom: solid #CCC 1px;
	line-height: 30px;
}
.page-title a{
	font-size: 30px;
	color: #F63;
	text-decoration: none;
}
h2.page-title a{
	font-size: 20px;
	color: #0066b3;
	text-decoration: none;
}
.header-container.single{
	height: 100px;
}
.header{
	margin: 0 10px;
}
.sub-menu a{
	text-decoration: none;
	color: #1B42A6;
}
.sub-menu a:hover{
	text-decoration: underline;
	cursor: pointer;
}
.main-form{
	position: relative;
	margin: 10px 0;
}
.main-form p{
	text-align: right;
}
.main-intro-content{
	line-height: 20px;
	text-align: justify;
}
.main-header{
	font-size: 13px;
	color: #CCC;
	text-transform: uppercase;
	padding-top: 12px;
	padding-bottom: 5px;
}
.txt-main{
	border: solid 1px #BBB;
	line-height: 25px;
	margin: 3px 0;
	font-size: 13px;
	width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.btn-main{
	cursor: pointer;
	background: #0066b3;
	padding: 10px;
	line-height: 40px;
	border-radius: 15px;
	color: white;
}
/* end header */

/* content */
.content-container{
	width: 100%;
	position: relative;
	overflow: auto;
	min-height: 400px;
}
.content{
	margin: 0 10px;
	position: relative;
	overflow: auto;
	height: 100%;
}
.content.page{
	border-top: solid 1px #CCC;
}
/* end header */


/* left part */
.left-part-container{
	float: left;
	position: relative;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding-bottom: 20px;
	min-height: 400px;
}
.left-part{
	padding: 10px 10px;
}
.left-part.single{
	padding: 10px 10px;
}
.left-part.page{
	padding: 10px 5px 10px 5px;
}
.left-part > ul{
	list-style: none;	
}
.left-part > ul > li{
	padding: 0 5px;
}
.idx-item{
	position: relative;
}
.idx-item-header{
	font-size: 24px;
	padding: 10px 7px;
	color: #0066b3;
	margin-left: -1px;
	margin-right: -1px;
	border-bottom: solid 1px #CCC;
}
.idx-item-header.orange{
	color: #ee1c24;
}
.idx-item-readmore{
	position: absolute;
	bottom: 0;
	float: right;
	padding: 7px;
	right: 0;
}
.idx-item-readmore > a{
	color: #BBB;
}
.idx-item-readmore > a:hover{
	color: #ee1c24;
}
.idx-item-content{
	padding: 7px;
	text-align: justify;
}
/* end left part */


/* right part */
.right-part-container{
	float: left;
	position: relative;
	height: 100%;
	right: 0;
	top: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.right-part{
	margin: 7px;	
}
.right-part > h3{
	color: #BBB;
	text-transform: uppercase;
	line-height: 36px;
	font-size: 16px;
	font-weight: bold;
}
.right-part > h3.index{
	padding-top: 6px;
}
.news-item{
	padding-left: 5px;
	margin: 5px 0;
}
.news-item > a{
	color: #BA081D;
	line-height: 20px;
}
.news-item > a:hover{
	text-decoration: none;
}
.news-intro{
	text-align: justify;
}
.news-time{
	color: #BBB;
	font-size: 12px;
}
/* end right part */

/* footer part */
.footer-container{
	overflow: auto;
	border-top: solid 1px #CCC;
}
.footer{
	margin: 0 10px;
	color: #BBB;
	height: 70px;
	position: relative;
	font-size: 11px;
}
.footer > ul{
	list-style: none;
}
.footer > ul > li{
	float: left;
}
.footer > ul > li img{
	width: 25px;
}
.footer-partner img{
	width: 80px;	
	float: right;
	right: 0;
	top: 0;
}
/* end footer */

.single-title a{
	text-decoration: none;
	color: #0066b3;
	font-size: 20px;
}
.single-title{
	border-bottom: solid 1px #CCC;
}
.single-content{
	text-align: justify;
}
.logo img{	
	width: 100px;
	margin-top: 20px;
}
.hotline-header{
	position: absolute;
	right: 0;
	top: 3px;
	background: url(../images/hotline.png);
	height: 62px;
	width: 464px;
}
.related-news h3{
	border-bottoM: solid 1px #CCC;
	line-height: 30px;
	text-transform: uppercase;
	padding-top: 20px;
}
.related-news > ul{
	list-style: none;
}
.related-news > ul > li{
	line-height: 18px;
	text-align: left;
	padding-left: 25px;
}
.related-news > ul > li.odd{
	background: transparent url(../images/bullet1.png) no-repeat left top;
}
.related-news > ul > li.even{
	background: transparent url(../images/bullet2.png) no-repeat left top;
}
.related-news > ul > li > a{
	color: #BA081D;
}
.related-news > ul > li > a:hover{
	text-decoration: none;
}
#map{
	width: 98%;
	height: 600px;
	margin: 0 auto;
	border: solid 1px #CCC;
}
#map-home{
	border: solid 1px #CCC;
	width: 100%;
	height: 300px;
}
.search-form{
	display: block;
	width: 98%;
	margin: 0 auto;
	margin-bottom: 5px;
}
.search-form input{
	border: solid 1px #ccc;
}
.search-form-container{
	width: 100%;
	margin: 0 auto;
}
.txt-main.page{
	width: 40%;
	margin-right: 10px;
}
.txt-main:focus{
	box-shadow: 0 0 8px #ee1c24;
}
.btn-main.page{
	padding: 5px 15px;
	font-size: 13px;
}
.btn-search-container{
	display: inline-block;
}
.search-result-container{
	overflow: auto;
	margin: 20px auto 10px auto;
}
.price-result-container, .from-desc-container, .to-desc-container{
	float: left;
	text-align: left;
	width: 33.33%;
	height: 74px;
	position: relative;
	overflow: hidden;
}
.price-result{
	font-size: 50px;
	color: #EFF; 
	padding: 7px;
	position: relative;
	height: 100%;
	background: #3DD033;
	text-transform: uppercase;
}
.from-desc{
	padding: 7px;
	background: #5D33D0;
	color: #EEE;
	position: relative;
	height: 100%;
	text-transform: uppercase;
}
.to-desc{
	background: #D03333;
	color: #EEE;
	padding: 7px;
	position: relative;
	height: 100%;
	text-transform: uppercase;
}
.search-address{
	font-size: 18px;
	color: white;
}
#admin-area .search-address{
	font-size: 13px;
}
.search-text{
	color: #CCC;
	text-transform: uppercase;
}
a.title-edit-link{
	font-size: small;
	color: #CCC;
	padding-left: 10px;
	text-decoration: none;
}
.relatedlink img{
	width: 100%;
}
.left-menu-container{
	float: left;
	width: 16%;
	position: relative;
}
.left-menu > div > ul{
	list-style: none;
}
.left-menu > div ul > li{
	line-height: 20px;
}
.left-menu > div ul.sub-menu{
	list-style: none;
}
.left-menu > div ul.sub-menu > li{
	padding-left: 20px;
	background: transparent url(../images/bullet2.png) no-repeat left top;
}
.left-menu > div ul > li > a{
	text-decoration: none;
	color: #0066b3;
}
.left-menu > div ul.sub-menu > li > a{
	color: #F63;
}
.left-menu > div ul.sub-menu > li > a:hover{
	color: #CCC; 
}
.left-menu > div ul > li.menu-item.current-menu-item > a{
	color: #F78181;
	text-decoration: underline;
}

table.list th {
	border: none;
	border-bottom: 1px solid #999;
	font-size: 9px;
	font-weight: normal;
	padding: 0pt 3px 3px;
	text-transform: uppercase;
}
table.list tr td {
	border-bottom: solid 1px #DDD;
	padding: 4px 10px 4px 3px;
}
table.list td a{
	color: #FF6600;
}
table.list td.id{
	width: 15px;
}
table.list td.status{
	text-align: center;
	color: white;
}
.pending{
	background: #ee1c24;
}
.assigned{
	background: #14D60E;
}
.done{
	background: #0066b3;
}

.admin-header{
	color: #1e1e1e;
	font-weight: bold;
	padding-bottom: 5px;
	padding: 5px 0;
	border-radius: 5px;
	margin-bottom: 10px;
	position: relative;
	font-size: 16px;
	text-transform: uppercase;
}
.contextual{
	position: absolute;
	top: 0.4em;
	right: 0.4em;
}
.contextual a{
	font-size: 11px;
	font-weight: normal;
	color: #0066b3;
	text-decoration: none;
	text-transform: none;
}
table.record-properties{
	width: 100%;
	margin-bottom: 20px;
}
table.record-properties tr{
	line-height: 35px;
}
table.record-properties th{
	text-align: left;
}
table.record-properties .label{
	padding-left: 7px;
	font-weight: bold;
	color: #0066b3;
	width: 25%;
}
table.record-properties .value{
	color: #1e1e1e;
}
table.records-list{
	width: 100%;
}
.record-actions{
	margin-top: 10px;
}
#loading{
	background-color: transparent;
	font-size: 28px;
	color: black;
	position: fixed;
	/*bottom: .5em;
	right: 6%;
	*/
	left: 48%;
	top: 48%;
	z-index: 1003;
}
#loading img{
	height: 30px;
}

#filter-area h3{
	text-transform: uppercase;
	color: #CCC;
	padding-top: 5px;
	padding-bottom: 5px;
}

.filter div label{
	display: inline-block;
	width: 26%; 
}
.filter div input{
	display: inline-block;
	width: 70%; 
}

.filter button{
	cursor: pointer;
	background: #0066b3;
	padding: 5px 10px;
	border-radius: 5px;
	color: white;
	border: 0;
	font-size: 13px;
	margin-top: 15px;
}
.pagination-container{
	padding: 10px 0;
}
.pagination-container span.disabled{
	color: #CCC;	
	margin: 0 5px;
}
.pagination-container span.current{
	color: black;
	padding: 0 5px;
	margin: 0 3px;
	border: solid 1px #CCC;
}
.pagination-container a{
	background: #DDD;
	color: #1e1e1e;
	text-decoration: none;
	padding: 2px 5px;
	margin: 0 3px;
	border: solid 1px #CCC;
}
.odd{
	background-color: #F6F7F8;
}
.even{
	background-color: white;
}
span.disable{
	color: #CCC;
}
.icon-quickview{
	background-image: url(../images/quick_view.png);
}
.icon-charge{
	background-image: url(../images/charge.png);
}
.icon-undone{
	background-image: url(../images/undone.png);
}
.icon-done{
	background-image: url(../images/done.png);
}
.icon-assign{
	background-image: url(../images/assign.png);
}
.icon-unassign{
	background-image: url(../images/unassign.png);
}
.icon-add{
	background-image: url(../images/add.png);
}
.icon-driver{
	background-image: url(../images/driver.png);
}
.icon-order{
	background-image: url(../images/order.png);
}
.icon-tool{
	background-image: url(../images/tool2.png);
}
.icon-show{
	background-image: url(../images/show.png);
}
.icon-edit{
	background-image: url(../images/edit.png);
}
.icon-del{
	background-image: url(../images/delete.png);
}
.icon-back{
	background-image: url(../images/backtolist.png);
}
.icon {
	background-position: 0% 50%;
	background-repeat: no-repeat;
	padding-left: 20px;
	padding-top: 2px;
	padding-bottom: 3px;
}
td.position{
	width: 40%;
}
td.name{
	width: 20%;
}
.action > ul{
	list-style: none;
}
.action > ul > li{
	float: left;
	padding: 0 5px;
}
.rate30{
	width: 30%;
}
.rate70{
	width: 70%;
}
.rate50{
	width: 50%;
}
.rate60{
	width: 60%;
}
.rate40{
	width: 40%;
}
.moex-form div{
	margin: 3px 0;
}
.moex-form div label{
	display: inline-block;
	width: 30%;	
	line-height: 25px;
	font-weight: bold;
	color: #0066b3;
}	
.moex-form div input{
	width: 70%;	
	line-height: 25px;
	font-size: 13px;
	border: solid 1px #ccc;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}	
.moex-form div select{
	width: 458px;
	height: 25px;
	font-size: 13px;
}
.moex-form div textarea{
	font-size: 13px;
	width: 70%;	
	line-height: 35px;
	border: solid 1px #ccc;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}	
.moex-form div input[readonly="readonly"]{
	background: #EEE;
}
.moex-form button[type="submit"]{
	cursor: pointer;
	background: #0066b3;
	padding: 5px 15px;
	border-radius: 15px;
	color: white;
	border: 0;
	font-size: 13px;
}
/* DT styles for sliding doors */
.dropdown dt a {display:block;cursor:pointer;line-height:22px;padding: 1px 10px 1px 30px; background-position-x: 7px}
.dropdown dt a.selected{ 
	background-position-x: 7px;
    color:#FFFFFF;
	background-color:#0066b3;
	padding: 1px 10px 1px 30px;
}


.dropdown dt a span {cursor:pointer; display:block; padding:5px;}

/* UL styles */
.dropdown dd ul { background:#FFFFFF none repeat scroll 0 0; display:none;
    list-style:none; padding:3px 0; position:absolute;
    left:auto; border:1px solid #0066b3; cursor:pointer;}
.dropdown dd ul li{ background-color:#FFFFFF; margin:0; width: 200px;} 
.dropdown span.value { display:none;}
.dropdown dd ul li a { box-sizing: border-box; -moz-box-sizing: border-box; width: 100%; display:block; font-weight:normal;text-align:left; overflow:hidden; padding:4px 4px 5px 9px; color:#111111; text-decoration:none;}
.dropdown dd ul li a:hover{ background:#0066b3; color:white; text-decoration:none;}
.dropdown dd ul li a:visited{ text-decoration:none; }

.dropdown dd ul#ulinbox{border:1px solid #D24939;}
.dropdown dd ul#ulinbox li a:hover{background:#D24939;}
.dropdown dt a#linkinbox.selected{background-color:#D24939; color:#FFFFFF;}
.dropdown dt a#linkinbox{color:#D24939;}
.extramenu{
	position: relative;
	z-index: 100;
}

span.status{
	font-size: 13px;
	font-weight: normal;
	padding: 5px;
	margin-right: 7px;
	color: white;
}

.header-table{
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 15px;
}
.header-intro{
	color: #CCC;
	margin-bottom: 10px;
	font-size: 11px;
}

.light-box {
    display: none;
    position: fixed;
    top: 7%;
    left: 10%;
    width: 80%;
    height: 80%;
    padding: 16px;
    border: 1px solid #0066b3; 
    background-color: white;
    z-index:1002;
    overflow: auto;
    border-color:  #0066b3; box-shadow: 0 0px 18px #0066b3; -moz-box-shadow: 0 0px 18px #0066b3; -webkit-box-shadow: 0 0px 18px  #0066b3;outline:0;
}
.black-overlay{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);
}
.black-overlay img{
	position: absolute;
	top: 0.35em;
	right: 0.5em;
}
.intro{
	font-size: 11px;
	color: #888;
}
ul.quickview-list > li > a{
	font-weight: bold;
	color: #ee1c24;	
	text-decoration: none;
}
ul.quickview-list > li{
	padding: 7px;
	margin-bottom: 2px;
}
ul.quickview-list > li:hover{
	background: #FDFF44;
}
ul.quickview-list > li.current{
	background:#FF5E99;
}
ul.quickview-list > li.current a, ul.quickview-list > li.current .intro{
	color: white;
}
.splitleft-container{
	width: 210px;
	float: left;
	position: relative;
}
.splitright-container{
	margin-left: 210px;
	border-left: solid 1px #DDD;
	min-height: 250px;
}
ul.leftmenu{
	list-style:none;
	line-height: 25px;
	width:200px;
	display:block;
	padding: 4px 0px;
}


ul.leftmenu li a{
	line-height:25px;
	display:block;
	padding-left:14px;
}

ul.leftmenu li a:hover{
	background-color: #0066b3;
	width:200px;
	color:white;
	line-height:25px;
	display:block;
}
.search-button-blue{
	background: url('../images/search_button.png');
	border: 0;
	outline: 0;
	width: 32px;
	height: 32px;
	vertical-align: middle;
}
.search-button-red{
	background: url('../images/search_button2.png');
	border: 0;
	outline: 0;
	width: 32px;
	height: 32px;
	vertical-align: middle;
}
.search-text{
	vertical-align: middle;
}
.admin-header-intro{
	color: #CCC;
	font-size: 11px;
	font-style: italic;
}
.middle-part{
	margin: 0 auto;
}
.slimScrollDiv {padding-right: 10px;}
::selection{background:#FF5E99;color:#fff;text-shadow:none;}

