/*header*/
#PageContent{width:980px}
#Header{position:relative;z-index:1;height:75px}
#Logo{float:left;width:500px;position: relative}
.promotion{position: absolute; top: 0;left: 196px;}
#Logo .anhQC{border:0;max-height:58px}
#Phone{position:absolute;z-index:2;bottom:0;right:0}
#OnCall{position:fixed;z-index:99;right:0;top:50%;display:none}
#OnCall img{border:0}

/*Language*/
#Language{float:right;padding:3px 5px 0 5px}
#Language a{display:inline-block;padding-right:4px}
#Language img{border:0;width:22px;height:15px}

/*SearchBox*/
#SearchBox{float:right;width:125px;height:20px;background:url(pic/CommonControls/bgSearch.jpg) no-repeat}
#SearchBox .textbox{width:90px;margin:2px 10px 0 0;border:0;font-size:11px;color:#8c8c8c;background:none}
#SearchBox .btsearch{width:25px;height:20px;background:none;border:0;cursor:pointer}

/*MenuTop*/
#MenuTop{float:right}
#MenuTop a.mnt{color:inherit;padding:0 4px;display:inline-block;line-height:18px}
#MenuTop a.mnt span{color:#ee1d25}
#MenuTop a.mnt:hover{color:#f36523}
#MenuTop .mntSplit{float:right;width:1px;height:20px;background:url(pic/CommonControls/mntSplit.jpg) no-repeat center}

/*MenuMain*/
#MenuMain{overflow:hidden}
#MenuMain a.mnm{font:normal 13px/31px UTMAvo;color:#fff;text-align:center;text-transform:uppercase;display:inline-block;width:195px}
#MenuMain a.mnm:hover{-moz-opacity: 0.7;opacity:.70; filter: alpha(opacity=70)}
#MenuMain a.bgmnm0{background:#6b7b84}
#MenuMain a.bgmnm1{background:#c8215d}
#MenuMain a.bgmnm2{background:#8dc63f}
#MenuMain a.bgmnm3{background:#f26522}
#MenuMain a.bgmnm4{background:#20409a;width:196px}
#MenuMain .mnmSplit{float:left;width:1px;height:31px;background:#fff}

/*Footer*/
#Footer{border-top:solid 1px #e7e7e7;padding:10px;clear:both}

/*MenuBottom*/
#MenuBottom{float:right;padding-right:5px}
#MenuBottom a.mnb{color:inherit;padding:0 6px;display:inline-block;line-height:18px;font-weight:bold}
#MenuBottom a.mnb:hover{color:#f36523}
#MenuBottom .mnbSplit{float:right;width:1px;height:20px;background:url(pic/CommonControls/mntSplit.jpg) no-repeat center}

/*Share*/
#Share{float:right}
#Share a{width:16px;height:16px;display:inline-block;padding:0 2px 0 1px}
#Share a:hover{
-moz-transform: scale(1.2) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
-webkit-transform: scale(1.2) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
-o-transform: scale(1.2) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
-ms-transform: scale(1.2) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
transform: scale(1.2) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg); 
}
#Share a.share1{background:url(pic/CommonControls/s1.jpg) no-repeat}
#Share a.share2{background:url(pic/CommonControls/s2.jpg) no-repeat}
#Share a.share3{background:url(pic/CommonControls/s3.jpg) no-repeat}
#Share a.share4{background:url(pic/CommonControls/s4.jpg) no-repeat}
#Share a.share5{background:url(pic/CommonControls/s5.jpg) no-repeat}
.countprice{padding-top: 10px; padding-bottom: 10px;}
.form-row{height: 30px;}
.form-row label{width: 100px; display: inline-block}
.form-row input{width: 50px}
#MoexGo .form-row input{border: solid 1px #C8215D;text-align: center}
#MoexSchool .form-row input{border: solid 1px #20409A;text-align: center}
.btOK{outline: 0}
.content{font-size: 12px; line-height: 1.5;}
.moex-message{font-size: 13px;}
.moex-para{text-align: justify;}
.moex-online{list-style: none; padding: 0; margin: 0; overflow: auto;}
.moex-online > li{float: left; width: 50%;}
.moex-online > li > ul{list-style: none; padding: 0 15px}
a.btn-count{outline: 0; border-radius: 12px;padding: 6px 18px; color: white; font-weight: bold; line-height: 20px;}
#MoexOffice a.btn-count{background:#6B7B84;}
#MoexSchool a.btn-count{background:#20409A;}
#MoexFood a.btn-count{background:#8DC63F;}
#MoexShopping a.btn-count{background:#F26522;}
#MoexGo a.btn-count{background:#C8215D;}
.form-count-container{padding-left: 20px; padding-top: 10px;}
.moex-content{position: relative; width: 100%; font-size: 12px;}
.order-list{width: 250px; float: left; border-right: solid 1px #ccc; margin-bottom: 20px;}
.order-list > ul {list-style: none; margin: 0; padding: 0;}
.order-list > ul > li{border-bottom: solid 1px #ccc; padding-left: 10px;}
.order-list > ul > li:last-child{border: 0;}
.order-list > ul > li > a {line-height: 25px;}
#order-info{float: right; width: 720px; padding-top: 35px; padding-bottom: 20px;}
#order-info table td.label{width: 200px;}
#order-info table tr{ height: 20px;}
#order-info table tr td a{ text-decoration: underline }
#order-info img{max-width: 300px; margin: 10px;} 
#driver-info{float: right; width: 720px; padding-top: 0px; padding-bottom: 20px;}
#driver-info img{max-width: 300px; margin: 0 10px 10px 10px;} 
table.driver-content tr { height: 20px;}
table.driver-content tr td.label{ width: 100px;}
td.align-top{vertical-align: top}
.order-notify{color: white; padding: 10px; font-size: 12px; border-radius: 10px; width: 700px; float: right;}
.order-selected a{ font-weight: bold; color: white;}
.driver-selected{background: #F26522;}
.driver-selected a{ font-weight: bold; color: white;}
.MoexDelivery{background:#6B7B84;}
.MoexSchool{background:#20409A;}
.MoexFood{background:#8DC63F;}
.MoexShopping{background:#F26522;}
.MoexGo{background:#C8215D;}
.event{position: relative; width: 460px; text-align: justify; padding-right: 10px; border-right: solid 1px #ccc;}
.event #formBuilderCSSIDCinema{position: absolute; top: 0;right: -460px; width: 460px;}
