#KetQuaTimKiem{width:922px;margin:auto;min-height:400px;_height:400px}
.head{clear:both;height:55px;background:url(pic/KetQuaTimKiem/head.jpg) no-repeat left center}
.motkq{width:438px;height:70px;overflow:hidden;line-height:20px}
.motkq a.title{font:bold 12px Tahoma;color:#383838;text-decoration:underline;display:block}
.motkq a.title span{color:red}
.motkq a.title:hover,
.motkq a.title:hover span{color:#0066b3}
