#KetQuaTimKiem2{font-size:12px}
#KetQuaTimKiem2 .cot1{float:left;width:477px;margin-right:20px;padding-left:10px}
#KetQuaTimKiem2 .cot2{float:left;width:465px}
#KetQuaTimKiem2 .left{float:left;width:85px}
#KetQuaTimKiem2 .right{float:left;width:360px;padding-left:10px;font-weight:bold}
#map2{width: 475px; height: 520px}
