#MoexFood #mainAdv .anhQC{border:0;max-width:980px}
#MoexFood .head{clear:both;height:45px;background:url(pic/MoexFood/head.jpg) no-repeat center}
#MoexFood .content{width:925px;margin:auto}
#MoexFood .cot1{float:left;width:442px}
#MoexFood .cot2{float:right;width:442px}

#MoexFood .ctext{color:#8dc63f}/*Đổi màu*/
#MoexFood .sdtext{text-shadow: 0 0 1px #e1f0cc/*;filter:dropshadow(color=#d8dcde, offx=1, offy=1)*/}/*Đổi màu*/

#MoexFood .header{font:normal 15px UTMAvoBold;text-transform:uppercase;padding-bottom:10px;font-weight:bold\9}
#MoexFood .dot{background:url(pic/MoexFood/dot.jpg) no-repeat 0 4px;padding:0 0 20px 12px}
#MoexFood .buoc{font:normal 14px Fujiyama}
#MoexFood .khungAnhMember{float:left;width:62px;margin:5px 10px 0 0}
#MoexFood .khungAnhMember img{width:62px;border:0}
#MoexFood .right{float:left;width:370px;line-height:18px}
#MoexFood .date{font-style:italic;color:#838383}
#MoexFood .traloi{clear:both;padding:7px 10px 10px 10px;margin:10px 0 0 72px;border:solid 1px #cfcfcf;border-radius:5px;background:#fcfcfc;position:relative;z-index:1}
#MoexFood .arrow{background:url(pic/MoexFood/arrow.jpg) no-repeat;width:14px;height:8px;position:absolute;top:-8px;left:33px}
#MoexFood .khungAnh2{float:left;width:44px;margin:3px 10px 0 0}
#MoexFood .khungAnh2 img{border:solid 1px #8dc63f}/*Đổi màu*/
#MoexFood .right2{float:left;width:292px}

#MoexFood .boxcontent{width:442px;height:136px;margin:auto;font-style:italic;color:#3d3d3d;background:#fbfbfb url(pic/MoexFood/bgT.jpg) repeat-x top;border:solid 1px #dcdcdc}
#MoexFood .boxcontent2{background:url(pic/MoexFood/bgL.jpg) repeat-y left;padding:0 15px;height:100%}
#MoexFood .cot1c{float:left;width:75px}
#MoexFood .cot2c{float:left;width:335px}
#MoexFood .textbox{border:0;background:none;padding:0 5px;width:330px;font-size:11px}
#MoexFood .textbox:active{border:solid 1px #d4d4d4}
#MoexFood a.btOK{height:25px;background:url(pic/MoexFood/btRPX.jpg) repeat-x;display:inline-block;margin-right:3px}
#MoexFood a.btOK span{height:25px;background:url(pic/MoexFood/btL.jpg) no-repeat top left;display:inline-block}
#MoexFood a.btOK span span{height:25px;background:url(pic/MoexFood/btR.jpg) no-repeat top right;display:inline-block;padding:0 25px;font:bold 11px/22px Tahoma;color:#fff}
#MoexFood a.btOK:hover{-moz-opacity: 0.8;opacity:.80; filter: alpha(opacity=80)}

#MoexFood .bgTextBox{width:247px;height:20px;border:solid 1px #d4d4d4;background:url(pic/MoexFood/bgtextbox.jpg) repeat-x}
#MoexFood .btBrowse{width:333px;height:23px;padding-top:2px;background:url(pic/MoexFood/btBrowse.jpg) no-repeat right;cursor:pointer;position:relative;z-index:1;overflow:hidden}
#MoexFood .btBrowse input[type="file"] {cursor:pointer;display:block;font-size:194px;height:25px;position:absolute;right:0;top:0;-moz-opacity: 0.0;opacity:.00; filter: alpha(opacity=00)}

#MoexFood .motbuoctl{width:422px;height:120px;padding:5px 10px;background:url(pic/MoexFood/TopLeft.png) no-repeat top left}
#MoexFood .motbuocl{width:422px;height:120px;padding:5px 10px;background:url(pic/MoexFood/l.png) no-repeat top left;margin-top:-1px}
#MoexFood .motbuocr{width:422px;height:120px;padding:5px 10px;background:url(pic/MoexFood/r.png) no-repeat top right;margin-top:-1px}