#MoexShopping #mainAdv .anhQC{border:0;max-width:980px}
#MoexShopping .head{clear:both;height:45px;background:url(pic/MoexShopping/head.jpg) no-repeat center}
#MoexShopping .content{width:925px;margin:auto}
#MoexShopping .cot1{float:left;width:442px}
#MoexShopping .cot2{float:right;width:442px}

#MoexShopping .ctext{color:#f26522}/*Đổi màu*/
#MoexShopping .sdtext{text-shadow: 0 0 1px #fcd6c4/*;filter:dropshadow(color=#d8dcde, offx=1, offy=1)*/}/*Đổi màu*/

#MoexShopping .header{font:normal 15px UTMAvoBold;text-transform:uppercase;padding-bottom:10px;font-weight:bold\9}
#MoexShopping .dot{background:url(pic/MoexShopping/dot.jpg) no-repeat 0 4px;padding:0 0 20px 12px}/*Đổi màu*/
#MoexShopping .buoc{font:normal 14px Fujiyama}
#MoexShopping .khungAnhMember{float:left;width:62px;margin:5px 10px 0 0}
#MoexShopping .khungAnhMember img{width:62px;border:0}
#MoexShopping .right{float:left;width:370px;line-height:18px}
#MoexShopping .date{font-style:italic;color:#838383}
#MoexShopping .traloi{clear:both;padding:7px 10px 10px 10px;margin:10px 0 0 72px;border:solid 1px #cfcfcf;border-radius:5px;background:#fcfcfc;position:relative;z-index:1}
#MoexShopping .arrow{background:url(pic/MoexShopping/arrow.jpg) no-repeat;width:14px;height:8px;position:absolute;top:-8px;left:33px}
#MoexShopping .khungAnh2{float:left;width:44px;margin:3px 10px 0 0}
#MoexShopping .khungAnh2 img{border:solid 1px #f26522}/*Đổi màu*/
#MoexShopping .right2{float:left;width:292px}

#MoexShopping .boxcontent{width:442px;height:136px;margin:auto;font-style:italic;color:#3d3d3d;background:#fbfbfb url(pic/MoexShopping/bgT.jpg) repeat-x top;border:solid 1px #dcdcdc}
#MoexShopping .boxcontent2{background:url(pic/MoexShopping/bgL.jpg) repeat-y left;padding:0 15px;height:100%}
#MoexShopping .cot1c{float:left;width:75px}
#MoexShopping .cot2c{float:left;width:335px}
#MoexShopping .textbox{border:0;background:none;padding:0 5px;width:330px;font-size:11px}
#MoexShopping .textbox:active{border:solid 1px #d4d4d4}
#MoexShopping a.btOK{height:25px;background:url(pic/MoexShopping/btRPX.jpg) repeat-x;display:inline-block;margin-right:3px}
#MoexShopping a.btOK span{height:25px;background:url(pic/MoexShopping/btL.jpg) no-repeat top left;display:inline-block}
#MoexShopping a.btOK span span{height:25px;background:url(pic/MoexShopping/btR.jpg) no-repeat top right;display:inline-block;padding:0 25px;font:bold 11px/22px Tahoma;color:#fff}
#MoexShopping a.btOK:hover{-moz-opacity: 0.8;opacity:.80; filter: alpha(opacity=80)}

#MoexShopping .bgTextBox{width:247px;height:20px;border:solid 1px #d4d4d4;background:url(pic/MoexShopping/bgtextbox.jpg) repeat-x}
#MoexShopping .btBrowse{width:333px;height:23px;padding-top:2px;background:url(pic/MoexShopping/btBrowse.jpg) no-repeat right;cursor:pointer;position:relative;z-index:1;overflow:hidden}
#MoexShopping .btBrowse input[type="file"] {cursor:pointer;display:block;font-size:194px;height:25px;position:absolute;right:0;top:0;-moz-opacity: 0.0;opacity:.00; filter: alpha(opacity=00)}

#MoexShopping .motbuoctl{width:422px;height:120px;padding:5px 10px;background:url(pic/MoexShopping/TopLeft.png) no-repeat top left}
#MoexShopping .motbuocl{width:422px;height:120px;padding:5px 10px;background:url(pic/MoexShopping/l.png) no-repeat top left;margin-top:-1px}
#MoexShopping .motbuocr{width:422px;height:120px;padding:5px 10px;background:url(pic/MoexShopping/r.png) no-repeat top right;margin-top:-1px}