<h1>Orders creation</h1>

<form action="{{ path('order_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<p>
	<a href="{{ path('order') }}">
		Back to the list
	</a>
</p>
<div class="search-form-container">
	<div class="search-form">
		<input class="txt-main page" id="input-from" name="from" type="text" placeholder="From..."/>
		<input class="txt-main page" id="input-to" name="to" type="text" placeholder="To..."/>
		<div class="btn-search-container" id="search-submit"><span class="btn-main page">Submit</span></div>
	</div>
</div>
<div id="map"></div>
